.unique-details {
  background-color: var(--c-bg);
  border-bottom: 1px solid var(--c-border-collapse);
  padding: 24px 16px;
  position: relative;
  .unique-summary {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
      border-bottom: unset;
    }
    &::marker {
      content: "";
    }
    &::after {
      content: "";
      position: absolute;
      right: 24px;
      width: 24px;
      height: 24px;
      transition: 0.2s;
      background-image: url("/images/icons/arrow.svg");
      filter: brightness(var(--icon-bright-level));
    }
  }
  &[open] {
    background-color: var(--c-bg-dark);
    .unique-summary {
      &::after {
        content: "";
        position: absolute;
        transform: rotate(180deg);
      }
    }
  }
  &-body {
    margin-top: 50px;
  }
}
